body {
  font-family: Calibri, Arial, sans-serif;
}
p {
  line-height: 5px;
}
br {
  display:block;
  line-height: 10px;
}
.idea-box {
  padding: 10px;
}

h1 {
}

h2 {
  margin: 10px;
  padding: 10px;
  border: 2px solid #FFB03B;
  border-radius: 5px;
  text-align: center;
}
.subtitle {
  font-size: 85%;
}
.heading {
  padding-left: 10px;
  font-weight: bold;
}

@media print {
.noPrint {
    display:none;
  }
}
